@font-face {
  font-family: 'Stapel';
  src: url('stapel-semi-expanded-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Stapel';
  src: url('stapel-semi-expanded-medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
